* {
   margin: 0;
}

body {
   font-family: 'helvetica', 'arial', sans-serif;
   background: #306DAA;
   color: #F4F4F4;
   text-align: center;
}

h1 {
   font-weight: lighter;
   text-transform: uppercase;
   margin: 20px;
}

h2 {
   font-weight: lighter;
   font-size: 1em;
   margin: 20px;
}

table {
   margin: 0 auto;
   color: #56555E;
   border-collapse: collapse;
   border-spacing: 0;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

tr {
   background: #FAFAFA;
}

tr:not(:last-of-type) {
   border-bottom: 1px solid #D4D3D8;
}

tr:nth-child(odd) {
   background: #EAEAEA;
}

th, td {
   height: 50px;
   padding: 15px;
}

th {
   background: #1A1F25;
   color: #D0D4D8;
   font-weight: lighter;
   border-bottom: 2px solid #9DA7B0;
}

th:not(:last-of-type) {
   border-right: 1px solid #2F343A;
}

th:first-of-type {
   border-radius: 5px 0 0 0;
}
th:last-of-type {
   border-radius: 0 5px 0 0;
}

tr:last-of-type td:first-of-type {
   border-radius: 0 0 0 5px;
}
tr:last-of-type td:last-of-type {
   border-radius: 0 0 5px 0;
}

td:not(:last-of-type) {
   border-right: 1px solid #D4D3D8;
}

td.options {
   text-align: center;
}

td:focus {
   background: #fff;
   outline-width: 1px;
   outline-color: #31A83F;
   outline-style: solid;
}

a {
   text-decoration: none;
   color: #56555E;
   width: 140px;
   display: inline-block;
   margin: 0 auto;
}

a input {
   margin-top: 20px;
   margin: 20px auto;
   cursor: pointer;
   text-decoration: none;
   width: 100%;
   padding: 14px;
   font-size: 1.2em;
   border-radius: 5px;
   background: #EAEAEA;
   border: 1px solid #D4D3D8;
   border-bottom: 5px solid #D4D3D8;
}

.links {
   margin: 0 auto;
}

.save_user,
.delete_user {
   cursor: pointer;
}

.save_user {
   color: #31A83F;
   font-size: 1.2em;
}

.delete_user {
   color: #A53232;
}

.response_message {
   width: 65%;
   margin: 10px auto;
   padding: 20px;
   text-align: center;
   border-radius: 5px;
   display: none;
}
